
<div class="passanger-details">
    <form>
        <div class="form-group">
          <label for="FBS_Reference_no">Reference no : </label>
          <input #ReferenceID type="text" class="form-control" id="FBS_Reference_no" placeholder="Enter origin" [(ngModel)]="datetimeFilter" [ngModelOptions]="{standalone: true}">
         

        </div> 
      </form>
      <div class="table-container">
        <table class="table" style="text-align:center">
            <thead>
                <tr>
                    <th>Reference Id</th>
                    <th>Flight no</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Date Time</th>
                   
                </tr>
            </thead>
            <tbody>
    
                <tr  *ngFor="let flight of DetailsList$ | async |dateTime:datetimeFilter">
                   
                    <td>{{flight.referenceKey}}</td>
                    <td>{{flight.flightid}}</td>
                    <td>{{flight.first}}</td>
                    <td>{{flight.last}}</td>
                    <td>{{flight.origin}}</td>
                    <td>{{flight.destination}}</td>
                    <td>{{flight.time}}</td>
                    
                </tr> 
    
    
            </tbody>
        </table>


</div> 